/processed_ftr
/processed_csvs
/parameters
*__pycache__*
*.ipynb_checkpoints*
*visualization*
*.vscode*
/DataDragon/__pycache__
/DataDragon/11.21.1
/DataDragon/img
/DataDragon/lolpatch_11.21
/DataDragon/._dragontail-11.21.1.tgz
/DataDragon/dragonhead.js
/DataDragon/languages.js
/DataDragon/languages.json